<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCOLcfLroGuBtY58dkr3192s7QfvrxiiS0</string>
	<key>GCM_SENDER_ID</key>
	<string>177622691259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.velockApp</string>
	<key>PROJECT_ID</key>
	<string>velock-fh-hgb</string>
	<key>STORAGE_BUCKET</key>
	<string>velock-fh-hgb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177622691259:ios:1046e74d175b14ba62289e</string>
</dict>
</plist>